<section class="container">
  <header class="header d-flex">
    <div class="buscar-pensamentos">
      <input
        type="search"
        class="filtro"
        placeholder="O que você procura?"
        autofocus
        [(ngModel)]="filtro"
      />
      <!-- (keyup)="buscarPensamentos()" -->
      <img src="/assets/imagens/lupa.png" alt="lupa de busca" />
    </div>
    <h2 class="ff-inter">Meu Mural</h2>
    <button routerLink="/criarPensamento" class="botao">
      Adicionar pensamento
    </button>
  </header>
  <section class="mural" *ngIf="listaPensamentos.length; else semPensamentos">
    <div *ngFor="let pensamento of listaPensamentos">
      <app-pensamento [pensamento]="pensamento" />
    </div>
  </section>
</section>
<app-botao-carregar-mais
  [haMaisPensamentos]="haMaisPensamentos"
  (click)="carregarPensamentos()"
/>

<ng-template #semPensamentos>
  <div class="ff-inter sem-pensamentos">
    <p>Ainda não há pensamentos cadastrados. Seja o primeiro a criar!</p>
  </div>
</ng-template>
